<div class="users-wrapper">
<div class="users-header">
<h1>Welcome to Rails Blog!</h1>
<a href="/posts/new"><button type="button" class="btn">Create a new Post</button></a>
</div>
<% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
        <% end %>
  <%= render partial: 'shared/user', collection: @users %>
</div>
