<div class="user-wrapper">
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <div class="user-bio">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>
  <%= render partial: 'shared/post', collection: @posts %>
  <%= button_to "View all posts", user_posts_path(@user), class: "btn", method: 'get' %>
</div>
