<div class="posts-wrapper">
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <% @posts.each do |post| %>
    <%= render partial: 'shared/post', locals: { post: post}  %>
    <div class="comments">
      <% Post.recent_comments(post.id).each do |comment| %>
        <% user = User.find(comment.author_id)  %>
        <p><strong><%= user.name %>:</strong> <%= comment.text %></p>
      <% end %>
    </div>
  <% end  %>
<button>Pagination</button>
</div>
