/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.users-wrapper {
  padding: 3em 1.5em 0;
}

.user-header {
  border: 1px solid black;
  padding: 1.5rem;
  display: flex;
  margin-bottom: 1em;
}

.user-photo {
  width: 13rem;
}

.user-info {
  width: 100%;
  display: flex;
}

.posts-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.post-wrapper {
  border: 1px solid black;
  padding: 1em;
  height: 11em;
  margin-top: 1em;
}

.post-text {
  height: 8em;
}

.counters {
  display: flex;
  width: 10em;
  justify-content: space-between;
  margin-left: auto;
}

.user-bio {
  border: 1px solid black;
  min-height: 3em;
  padding: 1.5em;
  margin-bottom: 2em;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
}

.comments {
  border: 1px solid black;
  padding: 1em;
}

.post-detail {
  border: 1px solid black;
  padding: 1em;
}

.all-comments {
  border: 1px solid black;
  padding: 1em;
}

.post-header {
  display: flex;
  align-items: center;
}

.btn {
  margin-top: 1em;
  width: 12em;
  height: 3em;
  font-size: initial;
}

.users-header {
  display: flex;
  justify-content: space-between;
}

.user-wrapper form {
  align-self: center;
}

.posts-wrapper form {
  align-self: center;
}

.user-info p {
  margin-left: auto;
  margin-top: auto;
}

.post-text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
